.sidenav {
  width: 150px;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  background-color: rgb(26, 84, 146);
  padding-top: 28px;
}

.sidenavClosed {
  composes: sidenav;
  transition: width 0.3s ease-in-out;
  width: 40px;
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  cursor: pointer;
  color: #b2bac2;
  text-decoration: none;
}

.linkText {
  padding-left: 16px;
}

.linkTextClosed {
  composes: linkText;
  visibility: hidden;
}

.sideitem:hover {
  background-color: #244f7d1c;
}

.menuBtn {
  align-self: center;
  align-self: flex-start;
  justify-self: flex-end;
  color: #b2bac2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 4px;
}
