#container {
  background-color: var(--background-color-1);
  width: 100%!;
  height: 100%!;
}

#left {
  float: left;
  width: 300px;
  height: 100%!;
  background-color: #17ad37;
}

#right {
  width: 100%!;
  height: 100%!;
  min-height: 100vh;
  min-width: 100vh;
  background-color: #969696;
}

#top {
  width: 100%!;
  height: 40px;
  background-color: #db11a9;
}

#bottom {
  width: 100%!;
  height: 100%!;
  min-height: 100vh;
  background-color: #1114db;
}
