:root {
  --background-color-1: #323133;
  --background-color-2: #3c3b3d;
  --background-color-3: #434a54;
  --background-color-4: #656d78;
  --background-color-5: #aab2bd;
  --background-color-6: #ccd1d9;

  --aqua-1: #3bafda;
  --aqua-2: #4fc1e9;
  --aqua-2-rgb-opacity-03: rgb(59, 175, 218, 0.3);

  --bittersweet-1: #e9573f;
  --bittersweet-2: #fc6e51;

  --grapefruit-1: #da4453;
  --grapefruit-2: #ed5565;
}
